<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/updation">Updated</a></p>
  <p><a href="/personalinfo">Personal information</a></p>
</header>
