<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personal information</title>
  </head>
  <body>
     {{> header}}
    <p>Name: Kriti Kishore</p>
    <p>Email: kishore.kritee@gmail.com</p>
    <p>Gender: Female</p>


  </body>
</html>

